@model Base64
@{
    ViewData["Title"] = "Base64 String To File";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="Index" method="post" target="_blank" data-val="true">
            <div class="form-group">
                <label asp-for="Text">Text:</label>
                <textarea class="form-control" asp-for="Text" placeholder="Paste Base64 text content in here." rows="20" style="resize:vertical;"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group" style="min-height:30px;">
                <label asp-for="FileType"></label>:
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".pdf" checked /> .pdf
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".png" /> .png
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".jpg" /> .jpg
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".bmp" /> .bmp
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".gif" /> .gif
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".xml" /> .xml
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value=".xlsx" /> .xlsx
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FileType" value="Other" /> Other
                </label>
                <input type="text" asp-for="OtherFileType" class="form-control hidden" style="width: 200px; height: 25px; display: inline; vertical-align:top;" />
                <span asp-validation-for="OtherFileType" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Generate</button>
        </form>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            var $types = $("input[name='FileType']");
            $types.change(function () {
                if ($types.index($(this)) == ($types.length - 1) && $(this).prop("checked"))
                    $("#OtherFileType").removeClass("hidden");
                else
                    $("#OtherFileType").addClass("hidden");
            });
        });
    </script>
}